/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu */
main h1 {
    margin: 20px 0;
    color: black;
    background-color: red;
    max-width: 400px;;
    font-size: 1.5em;
    text-align: center;
    margin-left: 570px;
    padding: 5px;
    border-radius: 5px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: red;
    color: white;
}

/* Paragráfos */
p {
    margin: 5px 0;
    line-height: 1.5;
    background-color: red;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    text-align: center;
    margin-left: 570px;
}